{
  "extends": ["airbnb-base"],
  "env": { "mocha": true },
  "rules": {
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-constant-condition": "off"
  }
}
